<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.att">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="33"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="Attendance"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Att"
        tools:targetApi="31">
        <activity
            android:name="com.example.att.attendance"
            android:exported="false" />
        <activity
            android:name="com.example.att.EditTimesheet"
            android:exported="false" />
        <activity
            android:name="com.example.att.ViewLeaves"
            android:exported="false" />
        <activity
            android:name="com.example.att.Editprofile"
            android:exported="false" />
        <activity
            android:name="com.example.att.Atthistory"
            android:exported="false" />
        <activity
            android:name="com.example.att.SubmitTimesheet"
            android:exported="false" />
        <activity
            android:name="com.example.att.displeave"
            android:exported="false" />
        <activity
            android:name="com.example.att.applyleave"
            android:exported="false" />
        <activity
            android:name="com.example.att.addTimesheet"
            android:exported="false" />
        <activity
            android:name="com.example.att.viewTimesheet"
            android:exported="false" />
        <activity
            android:name="com.example.att.notification"
            android:exported="false" />
        <activity
            android:name="com.example.att.profile"
            android:exported="false" />
        <activity
            android:name="com.example.att.leave"
            android:exported="false" />
        <activity
            android:name="com.example.att.timesheet"
            android:exported="false" />
        <activity
            android:name="com.example.att.calendar"
            android:exported="false" />
        <activity
            android:name="com.example.att.Dashboard"
            android:exported="false" />
        <activity
            android:name="com.example.att.Login"
            android:exported="false" />
        <activity
            android:name="com.example.att.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>